.vscode
*.code-workspace

# Local History for Visual Studio Code
.history

# Cangjie
target
*.macrocall
build-script-cache

.cache

# Build
*.zip

# Test
cjcov_logs
cov_output
output
*.gcda
*.gcno

# Gitee
.gitee